* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* border: 1px solid green; */
}
:root {
  --dark: #0b0d17;
  --gray: #d0d6f9;
  --white: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  min-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  /* font-family: "Bellefair", serif; */
  padding: 1.5rem;
  background-color: var(--gray);
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (width >= 48rem) {
  body {
    padding: 0;
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
}
@media (width >= 64rem) {
  body {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
}
/* NAV BAR STYLE START */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links-contain {
  padding-top: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 32%;
  background-color: rgb(208, 215, 249, 0.075);
  backdrop-filter: blur(2rem);
  transform: translateX(100%);
  transition: 0.25s;
}
.nav-link {
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link a {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.nav-link a span {
  font-weight: 300;
}
.nav-dash {
  width: 0.25rem;
  height: 1.875rem;
  display: none;
  background-color: var(--white);
}
.nav-link.active .nav-dash {
  display: initial;
}
.hamburger-btn {
  z-index: 9999;
}
@media (width >= 48rem) {
  .nav-links-contain {
    height: 100% !important;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: initial;
    transform: translateX(0);
  }
  .nav-link {
    padding-block: 2.4375em;
    position: relative;
    /* display: initial; */
  }
  .nav-dash {
    width: 100%;
    height: 0.1875rem;
    position: absolute;
    bottom: 0;
  }
  .hamburger-btn {
    display: none;
  }
}
/* NAV BAR STYLE END */
/* MAIN STYLE START */
#destination-main-container {
  text-align: center;
}
.destination-title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 1.5rem;
}
.destination-title span {
  color: var(--gray);
  padding-right: 1.125em;
}
.destination-img {
  width: 10.625rem;
  margin: 2rem 0;
}
.destination-choices {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.6875rem;
}
.destination-choices li {
  position: relative;
}
.destination-choices li.active::after {
  content: "";
  width: 100%;
  height: 3px;
  display: inline-block;
  background-color: var(--white);
}
.destination-choices a {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.075rem;
  color: var(--gray);
  text-transform: uppercase;
}
.destination-subtitle {
  font-family: "Bellefair", serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--white);
  padding: 1rem 0;
  text-transform: uppercase;
}
.destination-explain {
  font-size: 0.9375rem;
  font-weight: 300;
  color: var(--gray);
  letter-spacing: 0.075rem;
  line-height: 1.8;
}
.distance-time-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.distance-title,
.time-title {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  color: var(--gray);
  text-transform: uppercase;
}
.distance-txt,
.time-txt {
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  color: var(--white);
}

/* MAIN STYLE END */
