* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* border: 1px solid green; */
}
:root {
  --dark: #0b0d17;
  --gray: #d0d6f9;
  --white: #ffffff;
}
body {
  font-family: "Barlow Condensed", sans-serif;
  /* font-family: "Bellefair", serif; */
  padding: 1.5rem;
  background-image: url(assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #home-main-container {
  padding: 1.5rem;
} */
/* HOME PAGE STYLE START */
.home-txt-contain {
  padding: 2rem 0 7rem 0;
  color: var(--gray);
  text-align: center;
}
.home-title {
  padding: 2.1875rem 0;
  font-size: 5rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.explore-btn-contain {
  text-align: center;
}
.explore-btn {
  padding: 2em;
  font-size: 1.25rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
  background-color: var(--gray);
  display: inline-block;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
/* HOME PAGE STYLE END */